<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arduionobot">
    <ros2_control type="system" name="ArmVisionSystem">

        <hardware>
            <!-- Isaac hardware integration goes here -->
        </hardware>

        <joint name="joint_1">
            <command_interface name="effort" />

            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

    </ros2_control>


</robot>